@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext");

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}
header {
  width: 100%;
  height: 50px;
  background-color: rgb(254, 177, 1);
  -webkit-box-shadow: 2px 6px 32px -9px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 2px 6px 32px -9px rgba(0, 0, 0, 0.31);
  box-shadow: 2px 6px 32px -9px rgba(0, 0, 0, 0.31);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.nav-gid {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.name-web {
  color: white;
  text-transform: uppercase;
}

.name-web h1 {
  font-size: 15px;
  padding-top: 15px;
}

ul.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 15px;
}

ul.menu li {
  text-align: center;
  list-style: none;
  width: 180px;
}

ul.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3 ease-ease-in-out;
  color: white;
  padding: 5px 10px;
}

ul.menu li a:hover {
  background: #40aed7;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
}

a {
  text-decoration: none;
}
.name-web a {
  color: inherit;
  text-decoration: none;
}

/* Hamburger */
.content-hamburger li {
  list-style-type: none;
}
.content-hamburger label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.content-hamburger label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background-color: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
.content-hamburger label .hamburger:after,
.content-hamburger label .hamburger::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.content-hamburger label .hamburger:before {
  top: -10px;
}
.content-hamburger label .hamburger:after {
  bottom: -10px;
}
.content-hamburger label input {
  display: none;
}
.content-hamburger label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}
.content-hamburger label input:checked + .menu .hamburger {
  transition: rotate(45deg);
}
.content-hamburger label input:checked + .menu .hamburger:after {
  transition: rotate(90deg);
  bottom: 0;
}
.content-hamburger label input:checked + .menu .hamburger:before {
  transition: rotate(90deg);
  top: 0;
}
.content-hamburger label input:checked + ul {
  opacity: 1;
}
.content-hamburger label ul {
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
}
.content-hamburger label a {
  margin-bottom: 1em;
  font-size: 18px;
  display: block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
  padding: 12px 36px;
  transition: 0.5s ease-in-out;
}
.content-hamburger label a:hover {
  background-color: teal;
  color: black;
  letter-spacing: 3px;
}
@media screen and (max-width: 280px),
  (max-width: 375px),
  (max-width: 411px),
  (max-width: 414px),
  (max-width: 450px),
  (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
    background-color: rgb(254, 177, 1);
    -webkit-box-shadow: 2px 6px 32px -9px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 2px 6px 32px -9px rgba(0, 0, 0, 0.31);
    box-shadow: 2px 6px 32px -9px rgba(0, 0, 0, 0.31);
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }

  .nav-gid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .name-web {
    color: white;
    text-transform: uppercase;
  }

  .name-web h1 {
    font-size: 20px;
    padding-top: 15px;
  }

  .name-web span {
    font-size: 12px;
  }

  ul.menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  ul.menu li {
    margin-top: 15px;
    width: 100%;
  }
  .fr {
    display: none;
  }
}
